.main-section {
    min-width: $mobile-bp;
    padding: 20px 20px 40px;
    
    background-color: $modal-window-background-color;

    @media screen and (min-width: $tablet-bp) {
        padding: 60px 32px;
    }
    
    @media screen and (min-width: $desktop-bp) {
        padding: 32px 32px 60px;
    }
}

.main-gallery-lisnichyi {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 0;
        margin: -16px;
        }
    @media screen and (min-width: 1024px){
        margin: -16px -8px;
    }
}

.card__container {
    border-radius: $corner-radius;
    min-height: 443px;
    width: 280px;
    cursor: pointer;
   
    @media screen and (min-width: 768px) {
        height: 495px;
        width: 336px;
        margin: 16px;
    }
    @media screen and (min-width: 1024px){
        height: 489px;
        width: 309px;
        margin: 16px 8px;
    }
}

.card__picture {
    border-radius: $corner-radius;
    margin-bottom: 8px;
    width: 280px;
    height: 402px;
    object-fit: cover;
    object-position: center;

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 455px;
    }
    @media screen and (min-width: 1024px){
        width: 309px;
        height: 449px;    
    }
}

.card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $body-text-color;
    display: flex;
    flex-direction: column;

    &--name {
        text-transform: uppercase;
    }

    &--genres {
        color: $accent-background;
        display: flex;
        align-content: center;
    }
}

.card__filmRaiting{
color: $header-text-color;
background-color: $accent-background;
display: inline-block;
text-align: center;
height: 16px;
width: 36px;
border-radius: $corner-radius;
margin-left: 8px;
}