.main-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $modal-window-background-color;
}

.main-gallery-lisnichyi {
    @media screen and(max-width: 767px){
       
    }
    @media screen and (min-width: 768px) {
        display: flex;
            flex-wrap: wrap;
            margin: -16px;
        }
    @media screen and (min-width: 1024px){
             display: flex;
            flex-wrap: wrap;
            margin: -8px;
    }
}
.card__container {
    border-radius: 5px;

    @media screen and (min-width: 320px) {
        height: 443px;
        width: 280px;
        margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
    height: 495px;
    width: 336px;
    margin: 16px;
    }
    @media screen and (min-width: 1024px){
             height: 489px;
            width: 309px;
            margin: 8px;
            margin-bottom: 16px;
    }
}

.card__picture {
   
    border-radius: 5px;
    margin-bottom: 8px;
    @media screen and (min-width: 320px) {
        width: 280px;
        height: 402px;
    }
    @media screen and (min-width: 768px) {
        width: 336px;
        height: 455px;
    }
    @media screen and (min-width: 1024px){
        width: 309px;
            height: 449px;    
    }
}

.card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    color: $body-text-color;
    display: inline-block;
    height: 32px;
    display: flex;
    flex-direction: column;
    &--name {
        text-transform: uppercase;
    }

    &--genres {
        color: $accent-background;
    }
    // @media screen and (min-width: 320px){
    //     margin-bottom: 20px;
    // }
}
.card__filmRaiting{
color: $header-text-color;
background-color: $accent-background;
display: inline-block;
text-align: center;
height: 16px;
width: 36px;
border-radius: 5px;
margin-left: 8px;
}