.footer {
    width: 100%;
    height: 100px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $footer-text-color;
    background-color: $footer-background;

    @media screen and (min-width: 768px) {
        height: 79px;
        font-size: 16px;
        line-height: 19px;
    }

    @media screen and (min-width: 1280px) {
        height: 77px;
        font-size: 16px;
        line-height: 19px;
    }
}

.footer .container {
    all: unset;
    min-width: 320px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heart {
    display: inline-block;
    // width: 14px;
    // height: 13px;
    color: #ff6B08;
    margin: 0 10px;
}