.header {
  height: 230px;
  max-height: 230px;
  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
  font-family: 'Roboto', sans-serif;

  @media screen and (max-width: 480px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/bg-header/background_mobile@1x.png);

    @media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/bg-header/background_mobile@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    height: 219px;
    max-height: 219px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/bg-header/background@1x.png);

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/bg-header/background@2x.png);
    }
  }
  
  @media screen and (min-width: 321px) and (max-width: 769px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/bg-header/background_tablet@1x.png);
    @media screen and (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/bg-header/background_tablet@2x.png);
    }
  }

  @media screen and (min-width: $desktop-bp) {
    height: 216px;
    min-height: 216px;
  }
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px 0;

  @media screen and (min-width: $tablet-bp) {
    margin: 40px 32px 0;
  }
}

.logo {
  // text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  width: 24px;
  height: 24px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: animates 6s infinite 250ms;
  stroke: #818181;
  
  &:hover,
  &:focus {
    stroke: #ff6b08;
  }
}
  

.title-logo {
  display: none;
  // color: transparent;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    font-family: inherit;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    margin-left: 10px;
    color: #ffffff;
  }
}
.nav-hd {
  display: flex;
  column-gap: 40px;
}
// .nav-item {
//   &:not(:last-child) {
//     margin-right: 15px;
//   }
// }

.nav-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  text-transform: uppercase;
  color: #ffffff;
}

// .nav-link-current {
//   position: relative;
// }

.search-form {
  position: relative;
  display: flex;
  width: 280px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.search-input {
  height: 20px;
  width: 100%;
  background-color: inherit;
  border-style: none;
  border-bottom: 0.5px solid #ffffff;
  outline: none;

  &::placeholder {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
}

.btn-search {
  position: absolute;
  background-color: transparent;
  right: 0;
  border: none;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  margin-right: 0;
  padding: 0;
}

.btn-search-icon {
  width: 12px;
  height: 12px;
  background: url(../images/bg-header/search.svg);
  margin-bottom: 2px;
  cursor: pointer;
}

.btn-search-icon{
  width: 12px;
  height: 12px;
  background: url('../images/bg-header/search.svg') center;
  margin-bottom: 2px;
 }


@keyframes animates {
  0% {
    transform: perspective(300px) rotateY(0deg);
  }

  50% {
    transform: perspective(300px) rotateY(30deg);
  }

  100% {
    transform: perspective(300px) rotateY(0deg);
  }
 }