.header {
    background-color: rgba(0, 0, 0, 0.56);
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
    // background-attachment: fixed;
    font-family: 'Roboto', sans-serif;

    @media screen and (max-width:480px) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/bg-header/background_mobile@1x.png);
        
        @media screen and (max-width:480px) and (min-device-pixel-ratio:2), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url(../images/bg-header/background_mobile@2x.png);
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/bg-header/background@1x.png);
    
        @media screen and (min-device-pixel-ratio:2), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url(../images/bg-header/background@2x.png);
        }
    }
    @media screen and (min-width: 321px) and (max-width: 769px) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url(../images/bg-header/background_tablet@1x.png);
        @media screen and (min-device-pixel-ratio:2) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url(../images/bg-header/background_tablet@2x.png)
        }
    }
// .container {
// }
.header-box {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}
// .title-logo {
// }
.nav-hd {
    display: flex;
}
// .nav-item {
// }
.nav-link {
    font-family: inherit;
    // font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1,17;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nav-link-current {
    position: relative;
}
.search-form {
    position: relative;
    display: flex;
    padding-top: 60px;
    padding-bottom: 92px;
    align-items: center;
    text-align: center;
    @media screen {
        
    }
    @media screen {
        
    }
}
.search-input {
    height: 20px;
    width: 100%;
    // padding-right: ;
    background-color: inherit;
    // color: ;
    border-style: none;
    border-bottom: 0.5px solid #FFFFFF;
    &::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,14;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    }
}
// .btn-search {
// }
// .btn-search-icon {
// }
}