.backdrop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: $mobile-bp;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s all;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  scroll-behavior: smooth;
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  min-width: 280px;
  width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
  opacity: 0;
  visibility: hidden;
  // overflow-y:auto ;

  @media (min-width: 768px) {
    width: 704px;
    margin-top: 219px;
    row-gap: 2px;
  }
  @media (min-width: 1024px) {
    width: 814px;
    margin-top: 151px;
  }
}

.modal-close-btn {
  align-self: flex-end;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.close-modal {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  fill: #444;
  cursor: pointer;
}

.modal.active,
.backdrop.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-thumb {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 20px 40px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 68px;
    padding: 0 72px 40px 36px  ;
  }

  @media (min-width: $desktop-bp) {
    padding: 0 16px 40px;
    column-gap: 16px;
  }
}

.pictureThumb {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 240px;
  height: 357px;

  @media (min-width: 768px) {
    width: 264px;
    height: 374px;
  }
  @media (min-width: 1024px) {
    height: 478px;
    width: 375px;
  }
}

.film-picture {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

// .film-card-thumb {
//   @media (min-width: 768px) {
//     display: flex;
//   }
// }

.infoThumb {
  display: flex;
  flex-direction: column;

  @media screen and  (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1024px) {
    width: 391px;
  }
}

.filmTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.infoStatistic {
  padding-top: 20px;
  width: 100%;
}

.stat-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.statTitle {
  line-height: 1.33;
  color: #8c8c8c;
  margin-bottom: 8px;
  min-width: 108px;

  @media screen and (min-width: $desktop-bp) {
      min-width: 152px;
  }
}

.statData {
  width: 100%;
  line-height: 1.33;
  margin-bottom: 8px;
}

.spanAccent {
  background: #ff6b01;
  color: #fff;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.span {
  padding-left: 7px;
}

.aboutTitle {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.aboutText {
  margin: 8px 0 0 ;
  line-height: 1.67;
}

.buttonThumb {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 0;

  @media screen and (min-width: $desktop-bp) {
    justify-content: flex-start;
    column-gap: 16px;
    margin-left: 8px;
  }
}

.modalButton {
  margin: 0;
  padding: 0;
  height: 44px;
  width: 110px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  @media screen and  (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.accentBtn {
  color: #ffffff;
  background-color: #ff6b01;
  border: #ff6b01;
}

.test {
  outline: red solid 1px;
  width: 300px;
  height: 300px;
}

.team-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.team-member-photo {
  height: 120px;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
  // border-radius: 50%;
  margin-bottom: 10px;
}

.team-member-name {
  margin-bottom: 10px;
}

.team-member-position {
  margin-bottom: 5px;
}

.team-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: $tablet-bp) {
    justify-content: flex-start;
    column-gap: 25px;
  }

  @media screen and (min-width: $desktop-bp) {
    justify-content: space-between;
    column-gap: 0;
  }
}

.team-cards-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 225px;
  width: 110px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @media (min-width: 768px) {
    width: 130px;
  }
  @media (min-width: 1024px) {
    width: 150px;
  }
}

.link-icon-list {
  display: flex;
  justify-content: space-evenly;
}

.link-icon {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  fill: #444;
}

.link-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  &:focus,
  &:hover {
    background-color: #ff6b01;
  }
}
