.backdrop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 30;

  background-color: #fff;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 3px;
  transition: 0.3s all;

  @media (min-width: 320px) {
    width: 280px;
  }
  @media (min-width: 768px) and(max-width:1023px) {
    width: 704px;
    height: 552px;
  }
  @media (min-width: 1024px) {
    width: 814px;
    height: 558px;
  }

  // animation: animate75 3000ms;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.close-modal {
  width: 25px;
  height: 25px;

  fill: #444;
  cursor: pointer;
}

.modal.active,
.backdrop.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.pictureThumb {
  //   height: 478px;
  //   width: 375px;
  @media (min-width: 320px) {
    width: 240px;
  }
  @media (min-width: 768px) and(max-width:1023px) {
    width: 264px;
    max-height: 375px;
  }
  @media (min-width: 1024px) {
    max-height: 478px;
    width: 375px;
  }
}
.film-picture {
  margin-top: 24px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.modal-thumb {
  //   @media (min-width: 320px) {
  //     width: 240px;
  //   }
  @media (min-width: 768px) {
    display: flex;
  }
}
.infoThumb {
  margin-left: 16px;
  margin-top: 24px;
  @media (min-width: 768px) {
    width: 50%;
    margin-left: auto;
  }
}
.infoStatistic {
  display: flex;
  padding-top: 20px;
}
.filmTitle {
  font-weight: 500;
  //   @media (min-width: 320px) {
  //   }(min-width: 768px) and
  @media (max-width: 1023px) {
    font-size: 20px;
    line-height: 1.15;
  }
  @media (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.67;
  }
}
.statTitle {
  line-height: 1.33;
  color: #8c8c8c;
  margin-bottom: 8px;
}
.statDataThumb {
  margin-left: 80px;
}
.statData {
  line-height: 1.33;
  margin-bottom: 8px;
}
.spanAccent {
  background: #ff6b01;
  color: #fff;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.span {
  padding-left: 7px;
}
.aboutTitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.aboutText {
  line-height: 1.67;
}
.buttonThumb {
  margin-top: 20px;
}
.modalButton {
  margin-left: 16px;
  height: 44px;
  width: 136px;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  background-color: #fff;
}
.accentBtn {
  color: #ffffff;
  background-color: #ff6b01;
  border: #ff6b01;
}

.test {
  outline: red solid 1px;
  width: 300px;
  height: 300px;
}
.team-member-photo {
  width: 140px;
  height: 140px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
  // height: 100%;
}
.team-member-name {
  margin-bottom: 10px;
}
.team-member-position {
  margin-bottom: 10px;
}

.team-cards-list {
  display: flex;
  flex-wrap: wrap;
}
.team-cards-item {
  // height: 150px;
  width: 150px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}
.link-icon-list {
  display: flex;
  // width: 100%;
  justify-content: space-evenly;
}
.link-icon {
  width: 15px;
  height: 15px;
  fill: #444;
}
