a {
    text-decoration: none; 
}

.pagination {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left:0;
  padding-right: 0;
}

.tui-is-selected {
  background: #ff6b08;
  border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
justify-content: center;
color: #FFFFFF;
}
.tui-page-btn {
    display: inline-flex;
    width: 40px;
    height: 40px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;    
    align-items: center;
    justify-content: center;
    color: #000000;
   list-style-type: none;
}
.tui-page-btn .tui-ico-first, 
.tui-page-btn .tui-ico-last {
    display: none;
    width: 0px;
    height: 0px; 
}
.tui-ico-prev, 
.tui-ico-first {
    overflow: hidden;
  }
.pagination .tui-ico-prev {
    width: 16px;
    height: 16px;
    background: url('../images/pagination/arrow-left.svg') center;
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
  }
  .pagination .tui-ico-next {
    width: 16px;
    height: 16px;
    background: url('../images/pagination/arrow-right.svg') center;
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
  }