a {
  text-decoration: none;
}
.pagination-main {
  background-color: #ffffff;
}
.pagination {
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: 768px) {
    width: 374px;
    padding-bottom: 60px;
  }
}

.tui-page-btn + .tui-is-selected {
  background: #ff6b08;
  border-radius: 5px;
  width: 40px;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 0.3s;
}

.tui-page-btn,
.inner-page-number {
  display: inline-flex;
  height: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  margin-right: 8px;
  color: #000000;
  list-style-type: none;
  cursor: pointer;
}
.tui-page-btn + .tui-is-selected {
  &:hover,
  &:focus {
    animation: animate 3000ms infinite 250ms;
  }
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.inner-page-number {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
  }
}
.tui-prev-is-ellip,
.tui-next-is-ellip {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.tui-first,
.tui-last {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.tui-ico-prev {
  width: 16px;
  height: 16px;
  background: url('../images/pagination/arrow-left.svg') center;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}
.tui-ico-next {
  width: 16px;
  height: 16px;
  background: url('../images/pagination/arrow-right.svg') center;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}
.tui-prev,
.tui-next {
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 5px;
}
