.team__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.team__title {
    text-transform: uppercase;
}

.team__cards-list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    gap: 15px 10px;
}

.team__cards-item {
    display: flex;
    gap: 10px;
    width: 250px;
    border-radius: $corner-radius;
    padding: 5px 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.team__member-photo {
    display: flex;
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    filter: grayscale(1);

    &:hover {
        filter: grayscale(0);
    }
}

.team__member-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.team__member-info {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // min-height: 50%;
    gap: 8px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
    color: $footer-text-color;
}

.team__member-name {
    // width: 90%;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
}

.link__icon-list {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    font-size: 0px;
}

.link__item {
    display: flex;
}

svg.link__icon {
    width: 20px;
    height: 20px;
}