// Общие контейнеры

body {
    background-color: $app-background;
    font-family: "Roboto";
    font-size: $primary-font-size;
    font-weight: $primary-font-weight;
    color: #000000;
}

.container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;


    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
    }
}