// Общие контейнеры

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // justify-content: center;
    // align-items: center;
    min-width: $mobile-bp;
    background-color: $app-background;
    font-family: "Roboto";
    font-size: $primary-font-size;
    font-weight: $primary-font-weight;
    color: #000000;
    // overflow-y: auto;
}

.container {
    width: $mobile-bp;
    min-width: $mobile-bp;
    margin-left: auto;
    margin-right: auto;
    // padding-right: 20px;
    // padding-left: 20px;


    @media screen and (max-width: ($tablet-bp - 1)) {
        width: $mobile-bp;
    }

    @media screen and (min-width: 768px) {
        width: $tablet-bp;
        // padding-left: 32px;
        // padding-right: 32px;
    }

    @media screen and (min-width: 1024px) {
        width: $desktop-bp;
        // padding-left: 32px;
        // padding-right: 32px;
    }
}