// Сброс стилей
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    &:hover {
        transform: scale(1.1);
        transition-duration: $time;
        transition-timing-function: $cubic;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    display: inline-block;
    cursor: pointer;
    border: none;
}

.hoover {
    &:hover {
        transform: scale(1.1);
        transition-duration: $time;
        transition-timing-function: $cubic;
    }
}