$primary-font-size: 12px;
$primary-font-weight: 500;

$header-text-color: #FFFFFF;
$body-text-color:#000000;
$modal-window-text-color-primary: #000000;
$modal-window-text-color-secondary: #8C8C8C;
$footer-text-color: #545454;


$button-active-background: #FF6B01;

$app-background: #E5E5E5;
$footer-background:#F7F7F7;
$accent-background: #FF6B01;
$modal-window-background-color: #FFFFFF;

$time: 500ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

$corner-radius: 5px;
$button-color: #ffffff;
$button-accent: #ff6b01;
$accent-color: #FF6B08;

$mobile-bp: 320px;
$tablet-bp: 768px;
$desktop-bp: 1024px;

$spinner-size: 20px;