<header class="header">
  <div class="container">
    <div class="header-box">
      <a href="#" class="logo" id="site-logo">
        <svg width="24" height="24" fill="ffffff">
          <use href="./images/bg-header/logo.svg"></use>
        </svg>
        <span class="title-logo">Filmoteka</span>
      </a>

      <nav>
        <ul class="nav-hd">
          <li class="nav-item">
            <a id="home" class="nav-link nav-link-current" href="#" aria-label="домашняя страница"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a id="library" class="nav-link" href="#" aria-label="моя библиотека">My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="page-container"></div>
  </div>
</header>
