<header class="header">
  <div class="container">
    <div class="header-box">
      <a href="#" class="logo">
        <svg width="24" height="24">
          <use href="#"></use>
        </svg>
        <span class="title-logo">Filmoteka</span>
      </a>

      <nav>
        <ul class="nav-hd">
          <li class="nav-item">
            <a class="nav-link nav-link-current" href="#" aria-label="домашняя страница">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-label="моя библиотека">My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- <form class="search-form" id="search-form">
      <input class="search-input" type="text" name="searchFilm" placeholder="Пошук фільмів" />
      <button class="btn-search" type="submit" width="12" height="12">
        <svg class="btn-search-icon" width="12" height="12">
          <use href="#"></use>
        </svg>
      </button>
    </form> -->

    <ul class="library-tabs">
      <li class="library-tab"><a class="tab-watched" href="#" role="button">watched</a></li>
      <li class="library-tab"><a class="tab-queue tab-active" href="#" role="button">queue</a></li>
    </ul>
  </div>
</header>
