<header class="header">
    <div class="container">
    <div class="header-box">
        <a href="#" class="logo">
        <svg width="24" height="24" fill="ffffff">
            <use href="./images/bg-header/logo.svg"></use>
        </svg>
        <span class="title-logo">Filmoteka</span>
        </a>

        <nav>
        <ul class="nav-hd">
            <li class="nav-item">
            <a class="nav-link nav-link-current" href="#" aria-label="домашняя страница">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#" aria-label="моя библиотека">My library</a>
            </li>
        </ul>
        </nav>
    </div>

    <form class="search-form" id="search-form">
        <input class="search-input" type="text" name="searchFilm" placeholder="Пошук фільмів" />
        <button class="btn-search" type="submit" width="12" height="12">
        <svg class="btn-search-icon" width="12" height="12">
            <use href="./images/bg-header/search.svg"></use>
        </svg>
        </button>
    </form>
    </div>
</header>
