<section class="library_section container">
  <ul class="library_contant">
    <li class="library_card">
      <a href="" class="library_link">
        <div class="library__photo-contant">
          <img class="library__photo" src="./images/my-library/Rectangle.jpg" alt="постер_фильма" />
        </div>
        <div class="library__contant-block">
          <p class="library__contant-name">GREYHOUND</p>
          <div class="library__contant-discription-block">
            <p class="library__contant-discription">Drama, Action | 2020</p>
            <div class="library__contant-rating-container">
              <p class="library__contant-rating">10.0</p>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>
